* {margin: 0; padding: 0; box-sizing: border-box;}
			
body {
	font-size: 16px;
}
header {
	width: 100%;
	padding: 1em 1em .5em;
	background-color: rgb(50,50,50);
}
div#logo_box {
	width: 25%;
	float: left;
}
div#logo_box img {
	display: block;
	border-radius: 50%;
	border:3px solid red;
	width: 175px;
	margin: 0 auto;
}
div#banner_box {
	display: block;
	width: 75%;
	text-align: center;
}
h1#name {
	font-family: 'Carter One', serif;
	font-size: 4em;
	color: red;
	/*color: rgb(200, 40, 62);*/
}
nav li {
	display: inline;
	padding: 0 1em;
	font-size: 1.2em;
	font-family: sans-serif;
}
nav li a {
	text-decoration: none;
	color: yellow;
	font-variant: small-caps;
}
nav li a:hover {
	color: red;
}
#hero {
	height: 75vh;
	background-image: url('carron.jpg');
	background-size: cover;
	background-position: center;
}
section.content {
	padding: 2rem;
}
section.content h2 {
	text-align: center;
	font-family: helvetica, sans-serif;
	font-size: 3rem;	
}
#projects {
	background-color: white;
}
#projects h2 {
	color: rgb(50,50,50);
}
.projects_group {
	width: 75%;
	background-color: rgb(50,50,50);
	padding: 2em;
	margin: 1em auto 0;
}
#projects a {
	text-decoration: none;
	color: white;
	display: block;
	font-size: 1.5em;
}
#projects a + a {
	margin-top: 1em;
}
#projects a:hover {
	color: red;
}
footer {
	width: 100%;
	background-color: rgb(50,50,50);
	color: rgb(246,38,174);
}
footer h3 {
	text-align: center;
	font-family: sans-serif;
	padding: 1em;
	font-family: cursive, sans-serif;
	font-size: 3em;
}
.wrapper {
	display: block;
	max-width: 1200px;
	margin: 0 auto;
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}