* {margin: 0; padding: 0; box-sizing: border-box;}
			
body {
	height: 100vh;
	background-image: url('back.jpg');
	background-size: cover;
	background-position: center;
	font-size: 16px;
}
header {
	width: 100%;
	padding: 1em;
	background-color: rgba(0,0,0,0.5)
	
}
img {
	border-radius: 50%;
	border: 5px solid white;
	width: 150px;
	float: left;
	margin-left: 2em;
}
h1#name {
	font-family: 'Carter One', serif;
	font-size: 6em;
	color: rgb(200, 40, 62);
	text-align: center;
}
h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	text-align: center;
	padding-bottom: 1em;
}
p {
	font-family: helvetica, sans-serif;
	line-height: 2em;
}
a {
	text-decoration: none;
	color: blue;
}
a:hover {
	color: red;
}
footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 10px 0;
}
footer ul {
	list-style: none;
	text-align: center;
	font-family: sans-serif;
	padding: 1.75em;
}
li {
	display: inline;
	margin: 0 10em;

}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}