* {margin: 0; padding: 0; box-sizing: border-box;}
			
body {
	font-size: 16px;
}
header {
	width: 100%;
	padding: 1rem 1rem .5rem;
	background-color: rgb(50,50,50);
}
div#logo_box {
	width: 25%;
	float: left;
}
div#logo_box img {
	display: block;
	border-radius: 50%;
	border:3px solid red;
	width: 175px;
	margin: 0 auto;
}
div#banner_box {
	display: block;
	width: 75%;
	text-align: center;
}
h1#name {
	font-family: 'Carter One', serif;
	font-size: 4rem;
	color: red;
	/*color: rgb(200, 40, 62);*/
}
nav li {
	display: inline;
	padding: 0 1rem;
	font-size: 1.2rem;
	font-family: sans-serif;
}
nav li a {
	text-decoration: none;
	color: yellow;
	font-variant: small-caps;
}
nav li a:hover {
	color: red;
}
#hero {
	height: 75vh;
	background-image: url('carron.jpg');
	background-size: cover;
	background-position: center;
}
section.major {
	padding: 2rem;
	background-color: #EDE2CE;
}
section.major + section.major {
	border-top: 1px solid rgba(77,77,77,.2);
}
section.major h2 {
	text-align: center;
	font-family: helvetica, sans-serif;
	font-size: 3rem;
	color: rgb(50,50,50);	
}
.content_group {
	width: 75%;
	padding: 2rem;
	margin: 1rem auto 0;
	background-color: rgb(50,50,50);
	border-radius: 5px;
	font-family: helvetica, sans-serif;
	font-weight: 200;
	color: white;
	font-size: 1.2rem;
	line-height: 1.75rem;
	
}
#projects a {
	text-decoration: none;
	display: block;
	color: white;
	font-size: 1.5rem;
}
#projects a + a {
	margin-top: 1rem;
}
#projects a:hover {
	color: red;
}
footer {
	width: 100%;
	background-color: rgb(50,50,50);
	color: rgb(246,38,174);
}
footer h3 {
	text-align: center;
	font-family: sans-serif;
	padding: 1rem;
	font-family: cursive, sans-serif;
	font-size: 3rem;
}
.wrapper {
	display: block;
	max-width: 1200px;
	margin: 0 auto;
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}