
* { margin: 0; padding: 0; box-sizing: border-box; }


.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
/*
.clearfix {
	overflow: auto;
}*/
body {
	margin: 0px;
	padding: 0px;
	color: rgb(254,203,0);
	background-color: black;
	font-family: 'Muli', sans-serif;
	font-size: 16px;
}
section#hero {
	height: 90vh;
	background-image: url('../images/main_lego.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
h1 {
	font-family: 'Rye', cursive; /*western style display font*/
	font-size: 44px;
	font-weight: 300;
	letter-spacing: 2px;
	text-align: center;

}
h2, h3, h4, h5, h6 {
	font-family: 'Quando', serif;
	font-weight: 300;
}
header {
	position: absolute;
	top: 20px;
	width: 100%;
	background-color: rgba(19,19,19,0.9);
	padding: .5em;
}
#headWrapper {
	margin: 0 auto;
	width: 1200px;
}
#logoLeft {
	float: left;
	width: 20%;
}
#logoLeft img {
	border-radius: 5px;
	margin: 0 auto;
	display: block;
}
#headerText {
	padding-top: 10px;
	float: left;
	width: 60%;
}
#logoRight {
	float: left;
	width: 20%;
}
#logoRight img {
	border-radius: 5px;
	margin: 0 auto;
	display: block;
}
nav {
	padding-top: 2em;
	text-align: center;
}
nav a {
	text-decoration: none;
	font-family: helvetica, sans-serif;
	color: rgb(254,203,0);
	padding: 1em 2.5em;
	letter-spacing: 1px;
	font-variant: small-caps;
	font-weight: 300;
}
nav a:hover {
	color: red;

	
}
#slogWrapper {
	position: absolute;
	top: 300px;
	left: 50px;
}
#slogWrapper h2 {
	background-color: black;
	display: inline-block;
	margin-bottom: .3em;
	font-style: italic;
	text-align: left;
	color: white;
	padding: .3em;
	font-family: 'Rye', cursive;
	border-radius: 5px;
	text-transform: uppercase;
	
}
#slogWrapper span {
	font-weight: bold;
	color: rgb(254,203,0);
}
#images {
	padding-top: 1px;
}
#images img {
	float: left;
	padding: 0.1em;
	width: 25%;
}
#menuWrapper {
	width: 1200px;
	margin: 0 auto;
}
#menu section {
	float: left;
	padding: 2em;
	width: 50%;
}
#meals {
	color: rgb(254,203,0);
}
#menu h2 {
	letter-spacing: 3px;
	
}
#meals div {
	margin: 1.25em auto;
}
#meals h2 {
	text-align: center;
}
#meals h3 {
	font-variant: small-caps;
	letter-spacing: 2px;
}
#meals div p {
	letter-spacing: 1px;
	text-align: left;

}
#extras {
	color: black;

}
#extras div {
	vertical-align: top;
	text-align: left;
	background-color: rgb(254,203,90);
	border-radius: 8px;
	margin-bottom: 0.5em;
	padding: 1.5em;
}
#extras ul {
	list-style-type: none;
	padding: .5em .5em 0;
	font-family: 'Muli', sans-serif;
}
#hours {
	padding: 3em;
	background-color: rgb(254, 203, 90);
	color: black;
}
#hours h2 {
	text-align: center;
}
#hoursWrapper {
	width: 1200px;
	margin: 0 auto;
}
#hoursWrapper div {
	width: 50%;
	float: left;
	vertical-align: top;
	padding: 2em;
	
}
#hours div h3 {
	font-variant: small-caps;
}
#hours div p {
	text-align: left;
}
#testimonials {
	padding: 3em;
	color: white;
	background-color: rgb(61,111,255);
}
#testimonials h2 {
	text-align: center;
}
#testiWrapper {
	width: 1200px;
	margin: 0 auto;
}
#testiWrapper div {
	float: left;
	width: 33%;
	padding: 2em;
	text-align: left;
}
#testimonials div h4 {
	font-variant: small-caps;
}
footer {
	width: 100%;
	background-color: rgba(19,19,19,0.9);
	padding: 5px 0px;
	text-align: center;
}

