
* { margin: 0; padding: 0; box-sizing: border-box; }

.clearfix {
	overflow: auto;
}
body {
	text-align: center;
	margin: 0px;
	padding: 0px;
	color: rgb(254,203,0);
	background-color: black;
	font-family: 'Muli', sans-serif;
	font-size: 16px;
}
section#hero {
	height: 90vh;
	background-image: url('../images/main_lego.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
h1 {
	font-family: 'Rye', cursive; /*western style display font*/
	font-size: 44px;
	font-weight: 300;
	letter-spacing: 2px;
}
h2, h3, h4, h5, h6 {
	font-family: 'Quando', serif;
	font-weight: 300;
}
header {
	position: absolute;
	top: 20px;
	width: 100%;
	background-color: rgba(19,19,19,0.9);
	padding: 10px;

}
header section {
	margin: 0 auto;
	width: 100%;
}
#logoLeft {
	width: 33%;
	float: left;
}
#logoLeft img {
	border-radius: 5px;
}
#headerText {
	float: left;
	width: 34%;
	vertical-align: 30px;

}
#logoRight {
	width: 33%;
	float: right;

}
#logoRight img {
	border-radius: 5px;
}
.slogan {
	font-style: italic;
	text-align: left;
	position: absolute;
	left: 50px;
	background-color: black;
	color: white;
	padding: .3em;
	font-family: 'Rye', cursive;
	border-radius: 5px;
	text-transform: uppercase;

}
#slog1 {
	top: 300px;
}
#slog2 {
	top: 350px;
}
#slog2 span {
	font-weight: bold;
	color: rgb(254,203,0);
}
nav {
	margin-top: 10px;
}
nav a {
	text-decoration: none;
	font-family: helvetica, sans-serif;
	color: rgb(254,203,0);
	margin: 0px 70px;
	letter-spacing: 1px;
	font-variant: small-caps;
	font-weight: 300;
}
nav a:hover {
	color: red;
}
#images {
	padding-top: 1px;
}
#images img {
	float: left;
	padding: 0.1em;
	width: 25%;
}
#menu {

}
#menu section {
	float: left;
	padding: 3em;
	width: 50%;
}
#meals {
	color: rgb(254,203,0);
}
#menu h2 {
	letter-spacing: 3px;
}
#meals div {
	width: 80%;
	margin: 1.25em auto;
}
#meals h3 {
	font-variant: small-caps;
	letter-spacing: 2px;
}
#meals div p {
	letter-spacing: 1px;
	text-align: left;

}
#extras {
	color: black;

}
#extras div {
	width: 260px;
	vertical-align: top;
	text-align: left;
	background-color: rgb(254,203,90);
	border-radius: 8px;
	margin-bottom: 10px;
}
#extras h2 {
	padding: 10px 0px 5px 10px;
}
#extras ul {
	list-style-type: none;
	padding: 0 0 10px 25px;
	font-family: 'Muli', sans-serif;
}
#hours {
	padding: 3em;
	background-color: rgb(254, 203, 90);
	color: black;
}
#hours div {
	width: 50%;
	float: left;
	vertical-align: top;
	padding: 2em;
	
}
#hours div h3 {
	font-variant: small-caps;
}
#hours div p {
	text-align: left;
}
#testimonials {
	padding: 3em;
	color: white;
	background-color: rgb(61,111,255);
}
#testimonials p {
	float: left;
	width: 33%;
	padding: 2em;
	text-align: left;
}
footer {
	width: 100%;
	background-color: rgba(19,19,19,0.9);
	padding: 5px 0px;
}

