* { margin: 0; padding 0; box-sizing: border-box; }
body {
	text-align: center;
	margin: 0px;
	padding: 0px;
	color: rgb(254,203,0);
	background-color: black;
	font-family: 'Muli', sans-serif;
	font-size: 16px;
}
section#hero {
	height: 90vh;
	background-image: url('../images/main.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Quando', serif;
	font-weight: 300;
}
p {
	margin: 0px;
	padding: 0px;
}
header {
	position: absolute;
	top: 20px;
	width: 100%;
	background-color: rgba(19,19,19,0.9);
	padding: 10px;
}
#logoLeft {
	border-radius: 5px;
}
#headerText {
	display: inline-block;
	vertical-align: 30px;
	margin: 0px 175px;
}
#logoRight {
	border-radius: 5px;
}
#slogan {
	font-style: italic;
}
nav a {
	text-decoration: none;
	font-family: helvetica, sans-serif;
	color: rgb(254,203,0);
	margin: 0px 70px;
	letter-spacing: 1px;
	font-variant: small-caps;
	font-weight: 300;
}
nav a:hover {
	color: red;
	
}
#images {
	background-color: black;
	padding-top: 2px;
	display: inline-block;
	
}
#images img {
	float: left;
	padding: 0.1em;
	width: 25%;
}
#menu {
	overflow: hidden;
	
}
#meals {
	width: 50%;
	float: left;
	color: rgb(254,203,0);
	padding: 3em;
}
#menu h2 {
	letter-spacing: 3px;
	padding-bottom: 1.5em;;
}
#meals div {
	
}
#meals h3 {
	font-variant: small-caps;
	letter-spacing: 2px;
}
#meals div p {
	letter-spacing: 1px;
	text-align: left;

}
#extras {
	width: 50%;
	color: black;
	vertical-align: top;
	display: inline-block;
	padding: 3em;
}
#extras div {
	width: 35%;
	vertical-align: top;
	text-align: left;
	background-color: rgb(254,203,90);
	border-radius: 8px;
	margin-bottom: 10px;
}
#extras h2 {
	padding: 10px 0px 5px 10px;
}
#extras ul {
	list-style-type: none;
	padding: 0 0 10px 25px;
	font-family: 'Muli', sans-serif;
}
#hours {
	padding: 3em;
	background-color: rgb(254, 203, 90);
	color: black;
	overflow: hidden;
}
#hours div {
	width: 50%;
	float: left;
	vertical-align: top;
	padding: 2em;
	
}
#hours div h3 {
	font-variant: small-caps;
}
#hours div p {
	text-align: left;
}
#testimonials {
	padding: 2em;
	color: white;
	background-color: rgb(61,111,255);
	overflow: hidden;
}
#testimonials p {
	float: left;
	width: 33%;
	padding: 2em;
}
footer {
	width: 100%;
	background-color: rgba(19,19,19,0.9);
	padding: 5px 0px;
}

