* {margin: 0; padding: 0; box-sizing: border-box;}
			
body {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
}
a {
	text-decoration: none;
}
header {
	width: 100%;
	padding: 1rem;
	background-color: rgb(50,50,50);
}
header img {
	position: absolute;
	top: 20px;
	left: 100px;
	border-radius: 50%;
	border: 3px solid white;
	width: 175px;
	margin: 0 auto;
}
nav {
	float: right;
	list-style-type: none;
}
nav a {
	padding: 0 1rem;
	font-size: 1.2rem;
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;
	color: lightblue;
	font-variant: small-caps;
	font-weight: 400;
}
nav a:hover {
	color: white;
}
header h1 {
	display: inline;
	font-size: 4rem;
	color: white;
	position: relative;
	left: 275px;
	top: 10px
}
header h1 span {
	font-weight: 300;
}
header h2 {
	color: yellow;
	font-size: 2.5rem;
	font-weight: 300;
	padding: 0 1rem;
	display: inline-block;
	position: absolute;
	top: 50px;
	right: 20px;
}
div#hero {
	height: 75vh;
	background-image: url('carron.jpg');
	background-size: cover;
	background-position: center;
}
section {
	padding: 2rem;
	background-color: #EDE2CE;
	color: rgb(50,50,50);
}
section + section {
	border-top: 1px solid rgba(77,77,77,.2);
}
/*Begin Projects*/
section h2 {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 3rem;
	margin-bottom: 2rem;
}
section#projects div.project_group h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
	color: white;
	/*Needed both of these here because show me the movie was not centering after line break*/
	text-align: center;
	margin: 0 auto;
}
section p {
	line-height: 2.5rem;
	font-weight: 300;
	font-size: 1.2rem;
}
section#projects > div {
	background-color: rgb(230,230,230);
	margin: 0 auto;
	text-align: center;
	padding: 0 0 2rem;
}
div.project_group {
	display: inline-block;
	margin: 2rem 1rem 0rem;
	text-align: left;
}
div.project_link {
	position: relative;
}
div.project_link div.curtain {
	position: absolute;
	display: flex;
	align-items: center;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	/*background: linear-gradient(to bottom, rgb(0,175,215), rgb(2,255,209));*/
	background-color: rgb(0,175,215);
	opacity: .95;
	transition: bottom .75s, opacity .75s;
}
div.project_group:hover div.project_link > div.curtain {
	bottom: 100%;
	opacity: 0;
}
.project_group > a:last-child {
	text-decoration: none;	
	font-weight: 300;
	padding: .5rem .5rem 0;
	color: rgb(50,50,50);
	display: inline-block;
}
.project_group a:hover {
	color: red;
}
.project_group a img {
	display: block;
	width: 325px;
	height: 275px;/*aspect ratio 84.6154%*/
}

/*Begin Skills*/
section#skills h2 {
	margin-bottom: 0;
}
section#skills p {
	margin: 0 auto 2rem;
	font-size: .875rem;
	line-height: 1rem;
	text-align: center;	
}
section#skills ul {
	list-style-type: none;
	text-align: center;
	font-weight: 300;
	font-size: 1.5rem;
}
section#skills ul li {
	display: inline-block;
}
#skills ul li + li {
	margin-left: 4rem;
}
#skills ul li a {
	color: rgb(50,50,50);
	padding: .5rem;
	border-radius: 5px;
}
#skills ul li a:hover {
	background-color: rgb(2,255,209);
}
#skills > div > div > ul {
	margin-top: 2rem;
	font-size: 1.25rem;
	font-weight: 400;
}
.active  {
	background-color: rgb(2,255,209);
}
/*recommendation*/
section#recommendation {
	padding: 5rem;
	background-color: rgb(30,30,30);
}
#recommendation article {
	font-size: 2rem;
	line-height: 3rem;
	color: rgb(255,255,100);
	font-weight: 300;
	font-style: italic;
}
#recommendation p {
	color: white;
	font-size: 1rem;
	line-height: normal;
	font-family: sans-serif;
	font-style: normal;
}
#recommendation p:first-child {
	margin-top: 1.5rem;
}

/*begin Experience*/
section#experience div div {
	width: 67%;
	margin: 0 auto;
}
#experience h3 {
	font-weight: 300;
	font-size: 1.33rem;
}
#experience div div h3 + h3 {
	margin-top: 1.5rem;
}
#experience span {
	font-weight: 400;
}
#resume {
	display: inline-block;
	margin-top: 1.5rem;
	color: white;
	padding: .25rem .5rem;
	border-radius: 10px;
	background-color: rgb(50,50,50);
	font-size: 1.25rem;
}
#resume:hover {
	background-color: rgb(2,255,209);
	color: rgb(50,50,50);
}
/*Begin Contact*/
section#contact div {
	margin: 0 auto;
	text-align: center;
}
#contact a, #contact a:visited {
	text-decoration: none;
	color: rgb(50,50,50);
}
#contact a + a {
	margin-left: 3rem;
}
/*Begin Footer*/
footer {
	width: 100%;
	background-color: rgb(50,50,50);
	color: yellow;
}
footer h3 {
	text-align: center;
	font-family: sans-serif;
	padding: 1rem;
	font-family: 'Kaushan Script', cursive, sans-serif;
	font-size: 2.5rem;
	font-weight: 300;
}
section.odd {
	background-color: rgb(230,230,230); /*lightgrey*/
}
section.even {
	background-color: white;
}
.wrapper {
	max-width: 850px;
	margin: 0 auto;
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
@media screen and (max-width: 1000px) {
	header img {
		left: 20px;
	}
	header h1 {
		left: 195px;
	}
	#skills > div > div ul {
		/*need to reduce initial margin*/
		margin-top: 2rem;
	}
	#skills > div > div ul li {
		display: block;
	}
	#skills > div > div ul li + li {
		margin: .5rem 0 0;
	}
}
@media screen and (max-width: 900px) {
	header h1 {
		left: 20px;
	}
	header img {
		display: none;	
	}
	#projects {
		padding-left: 0;
		padding-right: 0;
	}
}
@media screen and (max-width: 850px) {
	div#hero {
		display: none;
	}
	header h1, header h2, nav {
		position: static;
		display: block;
		text-align: center;
	}
	header h2 {
		margin-bottom: 1rem;
	}
	nav {
		float: none;
	}
	nav a {
		color: white;
	}
	nav a:hover {
		color: rgb(2,255,209);
	}
	nav a:active {
		color: red;
	}
	div.project_link div.curtain {
		display: none;
		
	}
	#skills > div > ul {
		width: 50%;
		float: left;
	}
	#skills > div > ul li {
		display: block;
		margin: 0;
	}
	#skills > div > ul li + li{
		margin-top: 1.5rem;
	}
	#skills > div > div {
		display: block;
		width: 50%;
		float: right;
	}
	#skills > div > div > ul {
		margin-top: 0;
		word-wrap: break-word;
	}
}
@media screen and (max-width: 550px) {
	nav a {
		display: block;
		font-size: 1.5rem;
		padding: .5rem;
		width: 75%;
		margin: 0 auto;
	}
	nav a:active {
		color: red;
	}
	nav a + a {
		border-top: 1px solid grey;
	}
	div.project_group {
		margin: 2rem 0 0;
	}
	section#recommendation {
		padding: 2rem;
	}
	#recommendation article {
		font-size: 1rem;
		line-height: normal;
		color: rgb(255,255,100);
		font-weight: 300;
		font-style: normal;
	}
	section#contact a + a {
		margin-left: 1.5rem;
	}
}
@media screen and (max-width: 350px) {
	.project_group a img {
		width: 280px;
		height: 237px;
	}
	#contact a + a {
		margin-left: 1.25rem;
	}
}
