* {margin: 0; padding: 0; box-sizing: border-box; }

body {
	font-size: 16px;
	font-family: serif;
}
header {
	width: 100%;
	background-color: rgb(69,84,70);
	text-align: center;
}
header h1 {
	color: white;
	font-size: 4em;
	font-weight: normal;
	letter-spacing: .1em;
	margin-top: .25em;
	font-family: 'Cinzel', georgia, serif;
}
header p  {
	float: left;
	width: 10%;
	font-size: 5em;
	background-color: rgb(55,75,78);
	color: white; /*offwhite*/
	border: solid rgb(50,50,50) .15em; /*orange*/
	padding-top: .1em;
	font-family: 'Cinzel', georgia, serif;
}
header div div {
	float: left;
	width: 80%;
}
nav {
	font-size: 1.2em;
	font-variant: small-caps;
}
nav a {
	color: white;
	text-decoration: none;
	margin: 0 3em;
}
nav a:visited {
	text-decoration: none;
}
nav a:hover {
	color: rgb(255,71,18);
}
section#about {
	background-color: rgb(69,84,70);
	color: white;
	padding: 3em;
	border-top: black;
}
section#about h2 {
	font-size: 2.5em;
	font-family: 'cinzel',serif;
	text-align: center;
	letter-spacing: .1em;
}
section#about p {
	font-family: sans-serif;
	letter-spacing: .1em;
	line-height: 1.5em;
	padding-top: 2em;
}
footer {
	padding: 2em;
	text-align: center;
	background-color: #4B4D52;
	color: white;
}
section#contact {
	width: 100%;
	color: rgb(75,77,82);
	background-color: rgb(211,232,205);
	text-align: center;
	padding: 3em;
}
section#contact div div {
	float: left;
	width: 33.33%;
}
section#contact div.wrapper {
	padding-top: 3em;
}
section#contact h2 {
	font-family: helvetica, sans-serif;
}
section#contact p {
	font-family: helvetica, sans-serif;
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}