* {margin: 0; padding: 0; box-sizing: border-box; }

body {
	font-size: 16px;
	font-family: serif;
}
header {
	width: 100%;
	background-color: rgb(11,155,37);
	text-align: center;
}
header h1 {
	color: white;
	font-size: 4em;
	font-weight: normal;
	letter-spacing: .1em;
	margin-top: .25em;
	font-family: 'Cinzel', georgia, serif;
}
header p  {
	float: left;
	font-size: 5em;
	background-color: white;
	color: rgb(11,155,37); /*offwhite*/
	border: solid rgb(50,50,50) .15em; /*orange*/
	padding: 0 .25em;
	font-family: 'Cinzel', georgia, serif;
	border-radius: 3px;
}
header div div {
	float: left;
	width: 80%;
}
nav {
	font-size: 1.2em;
	font-variant: small-caps;
}
nav a {
	color: white;
	text-decoration: none;
	margin: 0 3em;
}
nav a:visited {
	text-decoration: none;
}
nav a:hover {
	color: rgb(255,71,18) ;
}
section {
	padding: 4em;	
}
section.odd {
	background-color: rgb(211,232,205);
	color: rgb(75,77,82);
}
section.even {
	background-color: rgb(253,255,255);
	color: rgb(75,77,82);
}
section.odd div > div {
	float: left;
	width: 25%;
	padding: 0 1em;
}
section.even div > div {
	float: right;
	width: 25%;
	padding: 0 1em;
}
section div > div > img {
	display: block;
	width: 100%;
}
section div > div > h2 {
	font-family: helvetica, sans-serif;
}
section div > div > p {
	font-family: arial,sans-serif;
	line-height: 1.5em;
	padding-top: 0.5em;
}
footer {
	padding: 2em;
	text-align: center;
	background-color: rgb(40,40,40);
	color: white;
	clear: both;
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
/* 	border: solid white 1px; */
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
@media screen and (max-width: 1040px) {
	header h1 {
		margin-top: 0;	
	}
	header > .wrapper > div {
		float: none;
		margin: 0 auto;
	}
	header > .wrapper > a {
		display: none;
	}
	nav a {
		display: block;
		width: 50%;
		margin: 0 auto;
		padding: 1em 0;
		font-size: 1.25em;
	}
	nav a + a {
		border-top: solid gray 1px;
	}
	section {
		padding: 2em;
	}
	section.odd > .wrapper > div:first-child {
		width: 100%;
		float: none;
		margin: 0 auto;
		padding-bottom: 2em;
	}
	section.odd > .wrapper > div:first-child img {
		display: block;
		margin: 0 auto;
		width: 50%;
	}
	section.odd > div > div + div {
		width: 33.33%;
	}
	section.even > .wrapper > div:first-child {
		width: 100%;
		float: none;
		margin: 0 auto;
		padding-bottom: 2em;
	}
	section.even > .wrapper > div:first-child img {
		display: block;
		margin: 0 auto;
		width: 50%;
	}
	section.even > div > div + div {
		width: 33.33%;
	}
}
@media screen and (max-width: 680px) {
	nav a {
		font-size: 1.25em;
	}
	section.odd > .wrapper > div:first-child {
		display: none;
	}
	section.odd > div > div + div {
		width: 100%;
		padding-bottom: 1em;
	}
	section.even > .wrapper > div:first-child {
		display: none;
	}
	section.odd > .wrapper > div:first-child img {
		display: block;
		margin: 0 auto;
		width: 50%;
	}
	section.even > div > div + div {
		width: 100%;
		padding-bottom: 1em;
	}
} 
@media screen and (min-width: 1800px) {
	body {
		font-size: 18px;
	}
}