body {
	text-align: center;
	margin: 0px;
	padding: 0px;
	color: rgb(254,203,0);
	background-color: black;
}
#hero {
	height: 900px;
	width: 92%;
	margin: 0px auto;
	background-image: url('../images/main.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	
}
#hero div {
	font-family: 'Muli', sans-serif;
	font-size: 24px;

}
h1 {
	font-family: 'Quando', serif;
	font-size: ;
	font-weight: 300;
	margin: 0px;
	padding: 0px;
	
}
h2, h3, h4, h5, h6 {
	font-family: 'Quando', serif;
	font-weight: 300;
	margin: 0px;
	padding: 0px;
}
p {
	font-family: 'Muli', sans-serif;
	margin: 0px;
	padding: 0px;

}
header {
	position: fixed;
	top: 20px;
	width: 100%;
	background-color: rgba(19,19,19,0.9);
	padding: 10px;

}
#logoLeft {
	/*float: left;*/
	border-radius: 5px;
}
#headerText {
	display: inline-block;
	vertical-align: 30px;
	margin: 0px 175px;

}
#logoRight {
	border-radius: 5px;

}
#slogan {
	font-style: italic;
	
}
nav a {
	text-decoration: none;
	font-family: helvetica, sans-serif;
	color: rgb(254,203,0);
	margin: 0px 70px;
	letter-spacing: 1px;
	font-variant: small-caps;
	font-weight: 300;
}
nav a:hover {
	color: red;
	
}
#images {
	background-color: black;
	padding-top: 2px;
	display: inline-block;
	
}
#images img {
	margin-right: -2px; /*needed to take care of inline-block phantom 4px right margin on container elements.*/
}

#menu {
	overflow: hidden;
	margin-top: -4px;
}
#meals {
	width: 49%;
	color: rgb(254,203,0);
	display: inline-block;
	margin-left: -320px;
	margin-right: 150px;
	padding-top: 10px;
	padding-right: 2px;
}
#menu h3 {
	letter-spacing: 3px;

}
#meals div {
	width: 80%;
	margin: 20px auto;
}
#meals h4 {
	font-variant: small-caps;
	letter-spacing: 2px;
}
#meals div p {
	letter-spacing: 1px;

}
#extras {
	width: 17%;
	color: black;
 	display: inline-block;
	vertical-align: top;
	padding: 50px 0px 0px 1px;
	
}
#extras div {
	vertical-align: top;
	width: 100%;
	text-align: left;
	background-color: rgb(254,203,90);
	border-radius: 8px;
}
#extras h3 {
	padding: 10px 0px 0px 10px;
}
#extras ul {
	list-style-type: none;
	margin: 0px 0px 10px 0px;
	padding: 5px 0px 10px 25px;
	font-family: 'Muli', sans-serif;
}
#hours {
	padding: 10px;
	background-color: rgb(254, 203, 90);
	color: black;
	width: 92%;
	margin: 0 auto;
}
#hours div {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}
#testimonials {
	padding: 10px;
	color: white;
	background-color: rgb(61,111,255);
	width: 92%;
	margin: 0 auto;
}
#testimonials p {
	display: inline-block;
	margin-top: 10px;
	margin: 10px 20px;
	width: 20%;
}
footer {
	width: 100%;
	background-color: rgba(19,19,19,0.9);
	padding: 5px 0px;
}

