body {
	background-image: url('../images/main.jpg');
	background-size: cover;
	text-align: center;
	margin: 0px;
	padding: 0px;

}
h1, p, ul, li {
	color: rgb(254,203,0);
	font-family: helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
img#logoLeft {
	position: absolute;
	left: 40px;
	top: 30px;
	border-radius: 5px;
	
}
img#logoRight {
	position: absolute;
	right: 40px;
	top: 30px;
	border-radius: 5px;
	
}
#header {
	background-color: rgba(19,19,19,0.8);
	margin-top: 40px;
	padding: 10px;

}
#slogan {
	font-style: italic;
	
}
hr {
	color: gray;
	border-style: solid;
	height: 0.5px;
	
}
.nav {
	list-style-type: none;
	
}
.nav li {
	display: inline;
	
}
.nav li a {
	text-decoration: none;
	color: rgb(254,203,0);
	padding: 0px 70px;
	font-size: 14px;
}
#description {
	width: 400px;
	height: 100px;
	background-color: rgba(19,19,19,0.8);
	text-align: left;
	font-family: arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
	position:absolute;
	bottom: 120px;
	right: 20px;
	padding: 10px;
	border-radius: 5px;
		
}
footer {
	position: absolute;
	bottom: 10px;
	width: 100%;
	background-color: rgba(19,19,19,0.8);
	padding: 5px 0px;
}

